<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>SoilFLO</string>
	<key>CFBundleIdentifier</key>
	<string>com.soilflo</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>CFBundleName</key>
	<string>SoilFLO</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs the permission to access the location when in the background and send your device location detail to the server.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string> This App needs the permission to access location when in use and send your device location detail to the server.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Needs Calendar Permission to use calender details</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>Privacy - Camera Usage Description  </key>
	<string>This app needs  the permission to access the device camera to scan the QR code and that code is used to get the hauling details within the App.  </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to gallery permission to upload photo for profile.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs  the permission to access the device camera to scan the QR code and that code is used to get the hauling details within the App.  </string>
</dict>
</plist>
